# Python
__pycache__/
*.py[cod]
*.pyo
.venv/
venv/
*.egg-info/
dist/
.env

# DB
*.db
*.sqlite3

# Uploads
backend/uploads/*
!backend/uploads/.gitkeep

# Node
node_modules/
frontend/dist/
frontend/.env

# IDE
.idea/
.vscode/
*.swp
.DS_Store
